@{
    ViewData["Title"] = "People Page";
    Layout = "~/Views/Shared/_AdminPanelLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Person Index</title>
</head>
<body>
    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
    <h2 key=19>People List</h2>
    <ul class="nav nav-pills mb-auto mt-2" style="display: flex; flex-direction: row; padding: 20px; align-items: center; justify-content: center;">
        @await Component.InvokeAsync("Role")
    </ul>
    <table class="table table-bordered">
        @await Component.InvokeAsync("FilteredRole", new { id = ViewBag.x })
    </table>
    <a key=25 href="/Person/AddPerson" class="btn btn-primary">Add New Person</a>
</body>
</html>