<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Dormitory</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Web_Homework.styles.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/grandesign-neue-roman" rel="stylesheet">

    <style>
        html, body {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            color: #2b2d42;
            background-color: #edf2f4;
        }

        * {
            margin: 0;
            padding: 0;
            box-sizing: inherit;
            font-family: 'Montserrat', sans-serif;
            font-style: normal;
            font-size: 18px;
            text-decoration: none;
            color: #2b2d42;
            background-color: #edf2f4;
        }

        .link:hover {
            opacity: 0.8;
            color: #DB0032;
        }
    </style>
</head>
<body class="p-0">
    <header>

        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 p-0">
            <div class="container-fluid">
                <img src="https://kygm.gsb.gov.tr/assets/img/kygmlogo-2019.svg" style="width:200px; height:100px" />

                <img src="https://i.hizliresim.com/swd3eyd.png" style="width:200px; height:30px" />
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse" style="display:flex;flex-direction:row-reverse;margin-right:20px">
                    <ul class="navbar-nav">

                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item mx-3">
                                Hello @ViewBag.PersonName
                            </li>
                            <li class="nav-item mx-3">
                                <a class="nav-link" asp-area="" asp-controller="Role" asp-action="Index">Role Panel</a>
                            </li>
                            <li class="nav-item mx-3">
                                <a class="nav-link" asp-area="" asp-controller="Person" asp-action="Index">Person Panel</a>
                            </li>
                            <li class="nav-item" style="display:flex;align-items:center;">
                                <a class="nav-link" asp-area="" asp-controller="Login" asp-action="Logout">Logout</a>
                                <span class="material-symbols-outlined" style="color: #DB0032">
                                    logout
                                </span>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="footer" style="background-color: #ddd;width:auto; padding:10px;">
        <div class="container d-flex" style="display:flex;flex-direction:row;justify-content:space-between; background-color :#ddd;">
            <ul class="socials d-flex flex-col" style="list-style: none; background-color: #ddd;">
                <li style="margin: 10px;"><a title="Facebook" class="facebook" href="https://www.facebook.com/gencliksporbak" target="_blank"><img style="width: 30px; height: 30px; background-color: #ddd;" src="https://cdn-icons-png.flaticon.com/512/59/59439.png" /></a></li>
                <li style="margin: 10px;"><a title="Twitter" class="twitter" href="https://twitter.com/gencliksporbak/" target="_blank"><img style="width: 30px; height: 30px; background-color: #ddd;" src="https://cdn-icons-png.flaticon.com/512/3128/3128212.png" /></a></li>
                <li style="margin: 10px;"><a title="Youtube" class="youtube" href="https://www.youtube.com/gencliksporbak" target="_blank"><img style="width: 30px; height: 30px; background-color: #ddd;" src="https://cdn-icons-png.flaticon.com/512/1384/1384028.png" /></a></li>
                <li style="margin: 10px;"><a title="Instagram" class="instagram" href="https://www.instagram.com/gencliksporbak"><img style="width: 30px; height: 30px; background-color: #ddd;" src="https://cdn-icons-png.flaticon.com/512/1384/1384031.png" /></a></li>
            </ul>
            <ul style="list-style: none; background-color: #ddd;">
                <li style="margin:10px; background-color: #ddd;color:white"><a href="https://www.gsb.gov.tr" alt="T.C. Gençlik ve Spor Bakanlığı Kurumsal Web Sitesi'ne Dön."><span class="ml-auto circle" style="background:#ddd">gsb.gov.tr</span></a></li>
            </ul>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>