@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="gsb-row" style="width: 70%; margin: auto;">
    <div class="row gsb-row-baslik justify-content-end">
        <div class="control d-flex flex-row">
            <a class="swiper-BasinAciklamasi-prev" style="outline:0;" tabindex="0" role="button" aria-label="Previous slide" aria-controls="swiper-wrapper-a9d3411dd1a62977"><i class="fas fa-angle-up"></i></a>
            <a class="swiper-BasinAciklamasi-next" style="outline:0;" tabindex="0" role="button" aria-label="Next slide" aria-controls="swiper-wrapper-a9d3411dd1a62977"><i class="fas fa-angle-down"></i></a>
        </div>
        <div class="baslik d-flex flex-row">
            <span style="font-size:30px; font-weight:bolder">Duyurular</span>
        </div>
    </div>

    <div class="swiper-BasinAciklamasi mh-555 mt-2 swiper-initialized swiper-vertical swiper-pointer-events swiper-backface-hidden">
        <div class="swiper-wrapper" id="swiper-wrapper-a9d3411dd1a62977" aria-live="polite">
            <div class="swiper-slide swiper-slide-duplicate swiper-slide-active" data-swiper-slide-index="0" role="group" aria-label="1 / 2" style="height: 90.8333px; margin-bottom: 2px;">
                <li class="list-group-item haberduyuru list-group-item-action">
                    <a style="text-decoration:none;" href="/Duyuru/252664/tc-genclik-ve-spor-bakanligi-kredi-ve-yurtlar-genel-mudurlugunden-duyurulur.aspx" title="" class="flex-column">
                        <div class="d-flex flex-column" style="background:white;">
                            <small class="text-muted" style="background:white;">2 EYLÜL 2022 CUMA</small>
                            <p class=" yazikes" style="background:white;">T.C. GENÇLİK VE SPOR BAKANLIĞI KREDİ VE YURTLAR GENEL MÜDÜRLÜĞÜNDEN DUYURULUR</p>
                        </div>
                    </a>
                </li>
            </div><div class="swiper-slide swiper-slide-duplicate swiper-slide-next" data-swiper-slide-index="1" role="group" aria-label="2 / 2" style="height: 90.8333px; margin-bottom: 2px;">
                <li class="list-group-item haberduyuru list-group-item-action">
                    <a style="text-decoration:none;" href="/Duyuru/235622/yabanci-uyruklu-ogrencilerin-dikkatine.aspx" title="" class="flex-column">

                        <div class="d-flex flex-column" style="background:white;">
                            <small class="text-muted" style="background:white;">13 TEMMUZ 2021 SALI</small>
                            <p class=" yazikes" style="background:white;">YABANCI UYRUKLU ÖĞRENCİLERİN DİKKATİNE</p>
                        </div>
                    </a>
                </li>
            </div>




            <div class="swiper-slide swiper-slide-duplicate-active" data-swiper-slide-index="0" role="group" aria-label="1 / 2" style="height: 90.8333px; margin-bottom: 2px;">
                <li class="list-group-item haberduyuru list-group-item-action">
                    <a style="text-decoration:none;" href="/Duyuru/252664/tc-genclik-ve-spor-bakanligi-kredi-ve-yurtlar-genel-mudurlugunden-duyurulur.aspx" title="" class="flex-column">

                        <div class="d-flex flex-column" style="background:white;">
                            <small class="text-muted" style="background:white;">2 EYLÜL 2022 CUMA</small>
                            <p class=" yazikes" style="background:white;">T.C. GENÇLİK VE SPOR BAKANLIĞI KREDİ VE YURTLAR GENEL MÜDÜRLÜĞÜNDEN DUYURULUR</p>
                        </div>
                    </a>
                </li>
            </div>


            <div class="swiper-slide swiper-slide-duplicate-next swiper-slide-duplicate-prev" data-swiper-slide-index="1" role="group" aria-label="2 / 2" style="height: 90.8333px; margin-bottom: 2px;">
                <li class="list-group-item haberduyuru list-group-item-action">
                    <a style="text-decoration:none;" href="/Duyuru/235622/yabanci-uyruklu-ogrencilerin-dikkatine.aspx" title="" class="flex-column">

                        <div class="d-flex flex-column" style="background:white;">
                            <small class="text-muted" style="background:white;">13 TEMMUZ 2021 SALI</small>
                            <p class=" yazikes" style="background:white;">YABANCI UYRUKLU ÖĞRENCİLERİN DİKKATİNE</p>
                        </div>
                    </a>
                </li>
            </div>





            <div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="0" role="group" aria-label="1 / 2" style="height: 90.8333px; margin-bottom: 2px;">
                <li class="list-group-item haberduyuru list-group-item-action">
                    <a style="text-decoration:none;" href="/Duyuru/252664/tc-genclik-ve-spor-bakanligi-kredi-ve-yurtlar-genel-mudurlugunden-duyurulur.aspx" title="" class="flex-column">

                        <div class="d-flex flex-column" style="background:white;">
                            <small class="text-muted" style="background:white;">2 EYLÜL 2022 CUMA</small>
                            <p class=" yazikes" style="background:white;">T.C. GENÇLİK VE SPOR BAKANLIĞI KREDİ VE YURTLAR GENEL MÜDÜRLÜĞÜNDEN DUYURULUR</p>
                        </div>
                    </a>
                </li>
            </div><div class="swiper-slide swiper-slide-duplicate swiper-slide-prev" data-swiper-slide-index="1" role="group" aria-label="2 / 2" style="height: 90.8333px; margin-bottom: 2px;">
                <li class="list-group-item haberduyuru list-group-item-action">
                    <a style="text-decoration:none;" href="/Duyuru/235622/yabanci-uyruklu-ogrencilerin-dikkatine.aspx" title="" class="flex-column">

                        <div class="d-flex flex-column" style="background:white;">
                            <small class="text-muted" style="background:white;">13 TEMMUZ 2021 SALI</small>
                            <p class=" yazikes" style="background:white;">YABANCI UYRUKLU ÖĞRENCİLERİN DİKKATİNE</p>
                        </div>
                    </a>
                </li>
            </div>
        </div>
        <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
    </div>
</div>