@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="mt-4" style=" width: 50%; margin: auto;">
    <div class="mt-4 row">
        <div class="col-md-3">
            <img src="http://eakgm.gsb.gov.tr/Public/images/EAKGM/012014/engelli-manset.jpg" width="250" style="border-radius: 5px; margin-top: 10px; cursor: pointer;">
        </div>
        <div class="col-md-9" style="margin-top:10px">
            <div style="font-size: 14px; color: #db0032;">
                12/6/2022 12:00:00 AM
            </div>
            <a href="http://eakgm.gsb.gov.tr/HaberDetaylari/1/254709/bakan-kasapoglundan-surpriz.aspx" target="_blank" style="color: black; text-decoration:none;">
                <div key=38 style="font-size: 25px;  font-weight: bold;">
                    BAKAN KASAPOĞLU'NDAN SÜRPRİZ
                </div>
                <div key=39 style="font-size: 20px; height: 65px; text-overflow: ellipsis; overflow: hidden;">
                    Bakanımız Dünya Engelliler Günü'nde para masa tenisçilerimize sürpriz yaptı.
                </div>
            </a>
        </div>
    </div>
    <div class="text-center w-100 mt-2" style="height: 1px; background-color: rgb(187, 187, 187);">
    </div>
    <div class="mt-4 row">
        <div class="col-md-3">
            <img src="http://eakgm.gsb.gov.tr/Public/images/EAKGM/012014/gonullu-manset1.jpg" width="250" style="border-radius: 5px; margin-top: 10px; cursor: pointer;">
        </div>
        <div class="col-md-9" style="margin-top: 10px;">
            <div style="font-size: 14px; color: #db0032;">
                12/6/2022 12:00:00 AM
            </div>
            <a href="http://eakgm.gsb.gov.tr/HaberDetaylari/1/254711/dunya-gonulluluk-gununu-kutladik.aspx" target="_blank" style="color: black; text-decoration: none;">
                <div key=40 style="font-size: 25px; font-weight: bold; ">
                    DÜNYA GÖNÜLLÜLÜK GÜNÜ'NÜ KUTLADIK
                </div>
                <div key=41 style="font-size: 20px; height: 65px; text-overflow: ellipsis; overflow: hidden;">
                    Gençlik ve Spor Bakanı Dr. Mehmet Muharrem KASAPOĞLU Dünya Gönüllüler Günü Programında Gençlerle Buluştu
                </div>
            </a>
        </div>
    </div>
    <div class="text-center w-100 mt-2" style="height: 1px; background-color: rgb(187, 187, 187);">
    </div>
    <div class="mt-4 row">
        <div class="col-md-3">
            <img src="http://eakgm.gsb.gov.tr/Public/images/EAKGM/012014/haber-yok_gsb.jpg" width="250" style="border-radius: 5px; margin-top: 10px; cursor: pointer;">
        </div>
        <div class="col-md-9" style="margin-top:10px;">
            <div style="font-size: 14px; color: #db0032;">
                11/29/2022 12:00:00 AM
            </div>
            <a href="http://eakgm.gsb.gov.tr/HaberDetaylari/1/254569/genclik-ve-spor-bakanligi-ile-yok-arasinda-is-birligi-protokolu.aspx" target="_blank" style="color: black; text-decoration: none;">
                <div key=42 style="font-size: 25px; font-weight: bold;">
                    Gençlik ve Spor Bakanlığı ile YÖK Arasında İş Birliği Protokolü
                </div>
                <div key=43 style="font-size: 20px;  height: 65px; text-overflow: ellipsis; overflow: hidden;">
                    Gençlik ve Spor Bakanlığı ile YÖK arasında gençlere yönelik faaliyetlere ve genç ofislerine dair iş birliği protokolü imzalandı. Gençlik ve Spor Bakanı Dr. Mehmet Muharrem Kasapoğlu, spor bilimleri fakültelerinde toplamda 8 dönem eğitim gören öğrencilerin 6 dönem üniversitelerde, 2 dönem de bakanlıkta uygulama ve staj eğitimi yapacaklarını açıkladı.
                </div>
            </a>
        </div>
    </div>
    <div class="text-center w-100 mt-2" style="height: 1px; background-color: rgb(187, 187, 187);">
    </div>
    <div class="mt-4 row">
        <div class="col-md-3">
            <img src="http://eakgm.gsb.gov.tr/Public/images/EAKGM/012014/yunus-emre-manset1.jpg" width="250" style="border-radius: 5px; margin-top: 10px; cursor: pointer;">
        </div>
        <div class="col-md-9" style="margin-top:10px">
            <div style="font-size: 14px; color: #db0032;">
                9/28/2022 12:00:00 AM
            </div>
            <a href="http://eakgm.gsb.gov.tr/HaberDetaylari/1/253216/gonuller-yapmaya-geldik-gala-gecesi-programi.aspx" target="_blank" style="color: black; text-decoration: none;">
                <div key=44 style="font-size: 25px; font-weight: bold;">
                    GÖNÜLLER YAPMAYA GELDİK GALA GECESİ PROGRAMI
                </div>
                <div key=45 style="font-size: 20px; height: 65px; text-overflow: ellipsis; overflow: hidden;">
                    Gönüller Yapmaya Geldik gala gecesi programı Bakanımız sayın Mehmet Muharrem Kasapoğlu’nun teşrifleriyle gerçekleştirildi
                </div>
            </a>
        </div>
    </div>
    <div class="text-center w-100 mt-2" style="height: 1px; background-color: rgb(187, 187, 187);">
    </div>
    <div class="mt-4 row">
        <div class="col-md-3" style="margin-top:10px">
            <img src="http://eakgm.gsb.gov.tr/Public/images/EAKGM/012014/kazakistan-gsb.jpg" width="250" style="border-radius: 5px; margin-top: 10px; cursor: pointer;">
        </div>
        <div class="col-md-9">
            <div style="font-size: 14px; color: #db0032;">
                9/6/2022 12:00:00 AM
            </div>
            <a href="http://eakgm.gsb.gov.tr/HaberDetaylari/1/252751/turkiye-kazakistan-genclik-koprusu-projesi.aspx" target="_blank" style="color: black; text-decoration: none;">
                <div key=46 style="font-size: 25px; font-weight: bold;">
                    Türkiye-Kazakistan Gençlik Köprüsü Projesi
                </div>
                <div key=47 style="font-size: 20px; height: 65px; text-overflow: ellipsis; overflow: hidden;">
                    Türkiye-Kazakistan Gençlik Köprüsü Projesi kapsamında, 30 Ağustos Zafer Bayramı etkinlikleri için Kazakistan Cumhuriyeti’nden ülkemize gelen gençlere ülkemizin hem tarihi ve kültürel değerleri tanıtıldı, hem de Bakanlık ziyaretleriyle iki ülke arasında işbirliği fırsatları konuşuldu.
                </div>
            </a>
        </div>
    </div>
    <div class="text-center w-100 mt-2" style="height: 1px; background-color: rgb(187, 187, 187);">
    </div>
    <div class="mt-4 row">
        <div class="col-md-3" style="margin-top:10px">
            <img src="http://eakgm.gsb.gov.tr/Public/images/EAKGM/012014/bbt_manset.jpg" width="250" style="border-radius: 5px; margin-top: 10px; cursor: pointer;">
        </div>
        <div class="col-md-9">
            <div style="font-size: 14px; color: #db0032;">
                9/2/2022 12:00:00 AM
            </div>
            <a href="http://eakgm.gsb.gov.tr/HaberDetaylari/1/252676/biz-bir-takimiz-projesi-kapanis-ve-degerlendirme-calistayi-basladi.aspx" target="_blank" style="color: black; text-decoration: none;">
                <div key=48 style="font-size: 25px; font-weight: bold;">
                    Biz Bir Takımız Projesi Kapanış ve Değerlendirme Çalıştayı Başladı
                </div>
                <div key=49 style="font-size: 20px; height: 65px; text-overflow: ellipsis; overflow: hidden;">
                    Biz Bir Takımız Projesi kapsamında 2022 yılı içerisinde yürütülen iş ve işlemlerin değerlendirilmesi ve bir sonraki dönem için gerekli planlamaların yapılması amacıyla proje paydaşları tarafından düzenlenen Biz Bir Takımız Projesi Kapanış ve Değerlendirme Çalıştayı başladı.
                </div>
            </a>
        </div>
    </div>

    <div class="text-center w-100 mt-2" style="height: 1px; background-color: rgb(187, 187, 187);"></div>
</div>