@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="display:flex;flex-direction:column; align-items:center; justify-content:center; width:80%;  margin:30px auto;">
    <iframe style="width:50%; height: 500px; margin: 30px 20px;" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12241.60979128903!2d32.7894657!3d39.9100091!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xd470f3893744db47!2zWcO8a3NlayDDlsSfcmVuaW0gS3JlZGkgVmUgWXVydGxhciBLdXJ1bXUgR2VuZWwgTcO8ZMO8cmzDvMSfw7w!5e0!3m2!1str!2str!4v1585553979502!5m2!1str!2str"></iframe>
    <table>
        <tbody>
            <tr>
                <td><strong key=50>Adres</strong>&nbsp;</td>
                <td key=51>&nbsp;: Söğütözü Mah. 2176 Sokak No:25 Çankaya / Ankara</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td><strong key=52>Telefon</strong></td>
                <td>&nbsp;: 444 0 472&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td><strong key=53>Belgegeçer</strong></td>
                <td>&nbsp;:&nbsp;+ 90 312 551 65 73</td>
                <td>&nbsp;</td>
            </tr>
        </tbody>
    </table>
</div>
<div style="display: flex; flex-direction: column; align-items: center; justify-content: center; width: 80%; margin: 30px auto;">
    <strong style="display:none;" key=54>İletişim Bilgileri</strong>

    <br>
    <div style="display:flex; align-items:center;justify-content:center;">
        <a href="tel:4440472" style="display: flex;align-items: center;justify-content: center;"><img alt="GSBKİM - 444 0 472" style="width:30%;" src="https://kygm.gsb.gov.tr/Public/Edit/images/GSB/gsb-kim-logo-4440472.png" class="img-fluid"></a>
    </div>
    <br>
</div>